<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sworm - Free CSS Template by spyka Webmaster</title>
<%= stylesheet_link_tag    "styles" %>
<!--
sworm, a free CSS web template by spyka Webmaster (www.spyka.net)

Download: http://www.spyka.net/web-templates/sworm/

License: Creative Commons Attribution
//-->
</head>
<body>
<div id="container">
    <%= render  "layouts/header" %>

    <div id="nav">
	<%= render  "layouts/menu" %>
    </div>
    <div id="body">
	
	<div id="content">
            <p><a href="/associado/new">Incluir</a></p>           
            <h3>Associados</h3>
            <table cellspacing="0">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
		    <th>Pagamento</th>
                </tr>
		
		<% for assoc in @associados %>
		  <tr>
		      <td><a href="/associado/edit?id=<%=h assoc.id%>"><%=h assoc.nome %></a></td>
		      <td><%=h assoc.email %></td>
		      <td><a href="/associado/payments?id=<%=h assoc.id%>"><img src="/assets/flag_red.gif"/></a></td>
		      
		  </tr>
		  
		<% end %>		
            </table>
            <p>&nbsp;</p>
        </div>
        
        <div class="sidebar">
            <ul>	
                <li>
                    <h3>procura</h3>
                    <ul>
                    	<li>
                            <form method="post" class="searchform" action="/associado/search" >
                                <p>
                                    <input type="text" size="12" value="" name="word" class="s" />
                                    <input type="submit" class="searchsubmit formbutton" value="OK" />
                                </p>
                            </form>			    
			</li>
		    </ul>
                </li>
                
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>
    <%= render  "layouts/footer" %>

</div>
</body>
</html>

