<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sworm - Free CSS Template by spyka Webmaster</title>
<%= stylesheet_link_tag    "styles" %>
<!--
sworm, a free CSS web template by spyka Webmaster (www.spyka.net)

Download: http://www.spyka.net/web-templates/sworm/

License: Creative Commons Attribution
//-->
</head>
<body>
<div id="container">

    <%= render  "layouts/header" %>
	
    <div id="nav">
	<%= render  "layouts/menu" %>
    </div>
    <div id="body">
	
	<div id="content">
            <p>
	    <a href="/associado/all">Voltar</a> |
	    <a href="/associado/payinsert?id=<%= @associado.id %>">Incluir</a></p>           
            <h3>Pagamentos: <%= @associado.nome %></h3>   
            <table cellspacing="0">
                <tr>
                    <th>Data</th>
                    <th>Valor</th>
		    <th>Descri&ccedil;&atilde;o</th>
                </tr>
		
		
		<% for assoc in @pagamentos %>
		  <tr>
		      <td><%=assoc.datapagamento.to_s[6..7] %>/<%=assoc.datapagamento.to_s[4..5] %>/<%=assoc.datapagamento.to_s[0..3] %></td>
		      <td><%=h assoc.valor %></td>
		      <td><%=h assoc.comentario %></td>
		      
		  </tr>
		  
		<% end %>		
            </table>
            <p>&nbsp;</p>
        </div>
        
        <div class="sidebar">
            <ul>	
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>
    <%= render  "layouts/footer" %>

</div>
</body>
</html>

