<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>sworm - Free CSS Template by spyka Webmaster</title>
<%= stylesheet_link_tag    "styles" %>
<!--
sworm, a free CSS web template by spyka Webmaster (www.spyka.net)

Download: http://www.spyka.net/web-templates/sworm/

License: Creative Commons Attribution
//-->
</head>
<body>
<div id="container">
    <%= render  "layouts/header" %>

    <div id="nav">
	
	<%= render  "layouts/menu" %>
    </div>
    <div id="body">
	
	<div id="content">
            <p>
		<a href="javascript:" onclick="history.go(-1); return false">Voltar</a> |
	        <a href="/associado/paysave">Incluir</a></p>           
            <h3>Pagamentos: <%= @associado.nome %></h3>   

<fieldset>
             <form action="/associado/paysave" method="post" id="payform">
		    <input name="associadoid" id="associadoid" value="<%= @associado.id %>" type="hidden" />
		    
                    <p><label for="valor">Valor:</label>
                    <input name="valor" id="valor" value="" type="text" /></p>
                    <p>
			<label for="comentario">Coment&aacute;rio:</label>
			<textarea name="comentario" rows="8" cols="23"> </textarea>
		    </p>

                    <p><input name="send" style="margin-left: 150px;" class="formbutton" value="OK" type="submit" /></p>
                </form>

</fieldset>
 

            <p>&nbsp;</p>
        </div>
        
        <div class="sidebar">
            <ul>	
            </ul> 
        </div>
    	<div class="clear"></div>
    </div>

    <%= render  "layouts/footer" %>

</div>
</body>
</html>

